{% extends 'base.html.twig' %}

{% block title %}Hello ClubController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
  
 <body>
    <div align="center">
       <h1 >Clubs ESPRIT</h1>
       <p>Au sein d'Esprit, les associations et clubs remplissent plusieurs rôles étant donné la diversité des motivations qui animent ceux qui en sont à l'origine.Conscients de l'importance de la vie associative, les étudiants jouent un rôle
important dans l'élaboration et la transmission des messages aux destinataires.Ci-dessous la liste des clubs d'Esprit. N'hesitez pasà la comlpèter.</p>
       <img  src="{{asset('esprit1.jpg')}}">
       <figcaption>Figure1 : page @Club/index</figcaption>
       </div>
    </body>
{% endblock %}
